/*
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

a {
    text-decoration: none;
}

header {
    background-color: #FF5A33;
    font-weight: bold;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 0;
    font-weight: bold;
    font-size: 0.5em;
    background-color: #B4CF66;
    }

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

.font_green {
    color: #146152;
}

.font_white {
    color: white;
}


.font_guac {
    color: #44803F;
}

.main_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    padding-bottom: 16px;
    text-align: center;
}

.main_content >div:hover{
    background-color: skyblue;
}


th {
    padding-right: 10px;
    text-align: left;
    border-bottom:2px solid black;
}

tr:nth-child(even) {
    background-color: #F5C29B;
}
